[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Big data Big data
Type=Link
URL=https://www.dreamstime.com/stock-photography-big-data-blue-conceptual-background-image39055802
Icon=text-html
